body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    margin: 0;
    line-height: 1.2em;
	background: #E9E9E9;
}

body > h1 {
    background-color: #33d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin:0;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top:25pt;
    padding-bottom: 15pt;
    box-shadow: 0px 5px 5px 0px rgba(171,171,171,1);
	
}

.content {
    margin: 10pt;
	display:none;
}

.box {
    border: 1px solid gray;
    background-color: #b3c8d0;
    font-size:14pt;
    padding-left: 10pt;
    padding-right: 10pt;
    min-height: 200px;
    width: 300px;
}

.box p {
    margin: 0 1pt 0 2pt
}

.smallbox {
    border: 1px solid gray;
    background-color: #b3c8d0;
    font-size:14pt;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-bottom: 10pt;
    margin-right: 0;
    margin-left: 0;
    min-height: 150px;
    width: 200px;
}

.inline {
    display: inline-block;
}

code {
    background-color: #e8e8e8;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    padding: 1pt 2pt;
    margin: 2pt;
    font-family: "source-code-pro", Consolas, monospace;
    font-size: .9em;
}

li {
    line-height: 1.9em;
}

button {
    font-size: 14pt;
    margin: 8px;
}

#eventDetails {
    border: 1px solid #aaa;
    margin-top: 8pt;
    padding: 2pt;
}

.lineitem {
    width: 120px;
    display: inline-block
}
/* Main Navigation Menu : this is always visible at top of page*/
nav {
	background: #A3A3A3;
	padding: 12px;
}

nav a {
  background-color: ForestGreen;  
  border-radius: 2px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

nav ul {
	padding: 0;
	margin: 0;
 }

nav li {
	margin: 0 0 0 0;
	display: inline;
	position: relative;
}

nav .selector {
	margin-right: 4px;
}

nav ul ul {
	width: 40px;
	padding: 5px;
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	background: clear;
}

nav .sub
{
	border: solid;
	border-color: white;
	
}
nav li:hover ul {
	display: block;
}



nav a:hover {
    text-decoration: none;
    color: blue;
    background-color: white;
}

nav a:active {
    background-color: white;
	border: solid;
	border-color: red;
}

/* Menu with choices for running different code lines*/
.choices {
	padding: 12px;
}

.choices a {
  background-color: ForestGreen;  
  border-radius: 2px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.choices li {
	margin: 0 0 0 0;
	display: inline;
	position: relative;
}

.choices .selector {
	margin-right: 4px;
}

.choices a:hover {
    text-decoration: none;
    color: blue;
    background-color: white;
}

.choices a:active {
    background-color: white;
	border: solid;
	border-color: red;
}

/*Class that determines which link is active*/
.select {
	background-color: white;
	color: black;
}